<div class="central_content">
<h1>Reply to <%= @topic.title %></h1>
<%= form_for(@comment, :url => reply_course_topic_url(:course_id=>@course, :topic_id=>@topic)) do |f| %>
    <% if @comment.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this reply from being saved:</h2>

    <ul>
        <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

    <div class="field">
        <%= f.label :body %><br />
        <%= f.text_area(:body, :size => "60x10")%>
    </div>


    <div class="actions">
        <%= f.submit(:value => "Create Reply")%>
    </div>
<% end %>
<div class="line">
<%= link_to "Go back to " + @topic.title, course_topic_path(@course,@topic)%>
</div>
</div>
