<!DOCTYPE html>
<html>
<head>
  <title>Board</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="global_console">
    <% if existing_user %>
        <div class="account_tag1"><%= link_to existing_user.username, user_path(existing_user.id) %></div>
        <div class="account_tag2">
          <%= link_to "Sign out", :signout %>
        </div>
        <%= hidden_field_tag :existing_user_id, existing_user.id%>
        <%= hidden_field_tag :existing_user_name, existing_user.username%>
        <script>
          var id = document.getElementById('existing_user_id').value;
          var user_name = document.getElementById('existing_user_name').value;
          var socket = io.connect('http://board-node.jit.su:80');
          socket.on('connect', function(data) {
            var message = {
              'new_user_id': id,
              'new_user_name': user_name 
            }
            
            var text = JSON.stringify(message);
            socket.send(text);
          });
          socket.on('new_reply_topic', function(data) {
            if (JSON.parse(data)['topic_user_id'].toString() === document.getElementById('existing_user_id').value.toString()) {
              document.getElementById('notification').innerHTML = "Your topic has a new reply"; 
              document.getElementById('notification').style.backgroundColor= "red"; 
            }
          });

          socket.on('new_user_connected', function(data){
            var existingList = document.getElementById('online_users_list')
            while (existingList.firstChild) {
              existingList.removeChild(existingList.firstChild);
            }
            data.forEach(function(item, index, arr) {
              var newLi = document.createElement('li');
              var newLiText = document.createTextNode(item["user_name"]);
              newLi.appendChild(newLiText);
              existingList.appendChild(newLi);
            });
          });
        </script>
    <% else %>
        <div class="account_tag1"><%= link_to "Sign up", new_user_path %></div>
        <div class="account_tag2"><%= link_to "Sign in", :signin %></div>
    <% end %>
</div>
    <div id="content">
<%= yield %>
</div>

<div id="real_time_console">
  <h2>Online users</h3>
  <div id="online_users">
    <% if existing_user %>
      <ul id="online_users_list">
      </ul>
    <%end%>
  </div>
  <div id='notification' onclick="process_notification()"></div>
</div>

</body>
</html>
